In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score, precision_score, f1_score

In [2]:
DATA_JSON_FILE = 'SpamData/01_Processing/email-text-data.json'

In [3]:
data = pd.read_json(DATA_JSON_FILE)

In [4]:
data.tail()

,MESSAGE,CATEGORY,FILE_NAME
5791,http://news.bbc.co.uk/1/hi/england/2515127.stm...,0,01396.61983fbe6ec43f55fd44e30fce24ffa6
5792,"> >-- be careful when using this one.) Also, t...",0,01397.9f9ef4c2a8dc012d80f2ce2d3473d3b7
5793,">>>>> ""SM"" == Skip Montanaro <skip@pobox.com> ...",0,01398.169b51731fe569f42169ae8f948ec676
5794,"So then, ""Mark Hammond"" <mhammond@skippinet.co...",0,01399.ca6b00b7b341bbde9a9ea3dd6a7bf896
5795,"Hi there,\n\n\n\nNow this is probably of no us...",0,01400.f897f0931e461e7b2e964d28e927c35e

In [5]:
data.shape

(5796, 3)

In [6]:
data.sort_index(inplace=True)

In [7]:
data.tail()

,MESSAGE,CATEGORY,FILE_NAME
5791,http://news.bbc.co.uk/1/hi/england/2515127.stm...,0,01396.61983fbe6ec43f55fd44e30fce24ffa6
5792,"> >-- be careful when using this one.) Also, t...",0,01397.9f9ef4c2a8dc012d80f2ce2d3473d3b7
5793,">>>>> ""SM"" == Skip Montanaro <skip@pobox.com> ...",0,01398.169b51731fe569f42169ae8f948ec676
5794,"So then, ""Mark Hammond"" <mhammond@skippinet.co...",0,01399.ca6b00b7b341bbde9a9ea3dd6a7bf896
5795,"Hi there,\n\n\n\nNow this is probably of no us...",0,01400.f897f0931e461e7b2e964d28e927c35e

In [8]:
vectorizer = CountVectorizer(stop_words='english')

In [9]:
all_features = vectorizer.fit_transform(data.MESSAGE)

In [10]:
all_features.shape

(5796, 102694)

In [11]:
# vectorizer.vocabulary_

In [12]:
X_train, X_test, y_train, y_test = train_test_split(all_features, data.CATEGORY, test_size=0.3, random_state=88)

In [13]:
X_train.shape

(4057, 102694)

In [14]:
X_test.shape

(1739, 102694)

In [15]:
classifier = MultinomialNB()

In [16]:
classifier.fit(X_train, y_train)

MultinomialNB()

In [17]:
nr_correct = (y_test == classifier.predict(X_test)).sum()

In [18]:
print(f'{nr_correct} documents classified correctly')

1641 documents classified correctly

In [19]:
nr_incorrect = y_test.size - nr_correct

In [20]:
print(f'Number of documents incorrectly classified: {nr_incorrect}')

Number of documents incorrectly classified: 98

In [21]:
fraction_wrong = nr_incorrect / (nr_correct + nr_incorrect)
print(f'The (testing) accuracy of the model is {1 - fraction_wrong:.2%}')

The (testing) accuracy of the model is 94.36%

In [22]:
classifier.score(X_test, y_test)

0.9436457734330075

In [23]:
recall_score(y_test, classifier.predict(X_test))

0.8303249097472925

In [24]:
precision_score(y_test, classifier.predict(X_test))

0.9913793103448276

In [25]:
f1_score(y_test, classifier.predict(X_test))

0.9037328094302555

In [26]:
example = ['get viagra for free now!', 'need mortgage? Reply to arrange a call with a specialist and get a quote', 'could you please help me with the project for tomorrow?', 'Hello Jonathan, how about a game of golf tomorrow?', 'Ski jumping is a winter sport in which competitors aim to achieve the longest jump after descending from a specially designed ramp on their skis. Along with jump length, competitor\'s style and other factors affect the final score. Ski jumping was first contested in Norway in the late 19th century, and later spread through Europe and North America in the early 20th century. Along with cross-country skiing, it constitutes the traditional group of Nordic skiing disciplines.']

In [27]:
doc_term_matrix = vectorizer.transform(example)

In [28]:
classifier.predict(doc_term_matrix)

array([1, 1, 0, 0, 0], dtype=int64)